.rc-dialog-header {
  background: var(--Dark-4);
  border-radius: 12px;
  border-bottom: none;
  margin-bottom: 12px;
  .rc-dialog-title {
    text-align: center;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: var(--yellow-200);
    position: sticky;
    top: 0;
  }
}
.sa-modal {
  &.sa-modal-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 678px) {
      padding-top: 72px;
      align-items: none;
    }
  }
  .rc-dialog-content {
    border-radius: 8px;
    background: var(--Dark-4);
  }
  .rc-dialog {
    padding: 0;
  }
  .rc-dialog-close {
    right: 15px;
    top: 15px;
  }
}

.rc-dialog-room-enter,
.rc-dialog-room-leave {
  transition-duration: 20ms !important;
}
.rc-dialog {
  max-width: calc(100% - 48px);
}
